<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Ayaka Confirmation </title>
    <style>
      body {
        background-color: #f5f5f5;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 16px;
        line-height: 1.6;
        color: #333333;
      }
      .container {
        max-width: 600px;
        margin: 0 auto;
        padding: 40px 20px;
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
        text-align: center;
      }
      h1 {
        font-size: 28px;
        margin-bottom: 20px;
      }
      p {
        margin-bottom: 20px;
        font-size: 18px;
        line-height: 1.4;
      }
      ul {
        margin-bottom: 20px;
        padding-left: 0;
      }
      li {
        margin-bottom: 10px;
        font-size: 24px;
        font-weight: bold;
        color: #2c3e50;
        list-style: none;
      }
      footer {
        font-size: 12px;
        margin-top: 20px;
        color: #999999;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Ayaka Confirmation</h1>
      <ul>
        <li><%= locals.code %></li>
      </ul>
      <p>Halo, terima kasih telah mempercayai Ayaka Ai sebagai partner kamu, dan jangan memberi kode ini kepada siapapun, termasuk Owner Ayaka.</p>
      <footer>&copy; 2023 Ayaka Ai - By Sazumi Viki</footer>
    </div>
  </body>
</html>
npm install fs path nodemailer ejs node-telegram-bot-api
//This is what must be changed
const token = '6261801132:AAFLa_i8lEEcC2NAQd7Q8U3p0vqQfNb6zio';
const email = 'hidupbeban411@gmail.com';
const password = 'Deniam10';
